* {
    padding: 0;
    margin: 0;
    font-family: "Oblik-Bold", sans-serif;   /* a fonte é diferente em alguns lugares, sendo sans-serif creio eu */
}

@font-face {                                 /* a fonte da Duracell */
  font-family: Oblik-Bold;
  src: url(fonts/Oblik_Bold.ttf);
}

html {                                       /* pro rolamento ficar lisinho */
    scroll-behavior: smooth;
}

#logo {
    background-color: black;
    text-align: center;
    height: 25px;
    padding: 10px 0;
}

#logo img {
    max-height: 100%;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c98959;
}

#navbar div {
    padding: 10px;
    width: 250px;
    text-align: center;
}

#navbar a { /* Se der tempo, colocar um 'hover' que diminui a opacidade */
    text-decoration: none;
    font-size: 14pt;
    color: white;
}

#inicio img {
    padding: 25px 0;
    width: 100%;
}

#encontre-seu-produto-titulo {
    text-align: center;
    font-size: 30pt;
    padding-bottom: 50px;
}

#encontre-seu-produto {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto auto auto; /* Não sei se é a melhor forma de fazer isso, mas tá funcionando */
}

.produto-imagem-texto {
    background-color: #f4f4f4;
    border-radius: 1%;
    text-align: center;
    width: 180px;
    height: 200px;
    padding: 10px;
    padding-top: 30px;
    margin: 10px;

    /* PRA FAZER:
    - Padronizar o tamanho das imagens e alinhar elas melhor;
    - Talvez deixar mais próximo do meio;
    - Depois que isso tiver bonitinho, partir pra produtos recomendados.
    */
}

.produto-texto {
    font-size: 14pt;
}

.produto-imagem img {
    width: 100px;
    height: 110px;
    padding: 20px;
}

#pilha-aud {
    width: 170px;
    height: 185px;
    padding: 0;
    margin-bottom: 10px;
}

#pilha-moeda {
    width: 170px;
    height: 185px;
    padding: 0;
    margin-bottom: 10px;
}

#prod-recom {
    background-color: #111111;
    color: white;
    padding: 50px 0;
}

#prod-recom h1 {
    text-align: center;
    padding-bottom: 30px;
}

#prod-recom-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prod-recom-img-txt {
    width: 20%;
}

.prod-recom-img-txt img{
    width: 310px;
    height: 310px;
}

.prod-recom-img-txt h2{
    font-size: 24pt;
    width: 300px;
    padding-top: 40px;
}

.dura-mais, .detalhe, .tamanho, strong, button {
    font-family: sans-serif;
}

.dura-mais {
    padding: 40px 0;
    color: #a8a8a8;
}

.detalhe {
    color: #a8a8a8;
    font-size: 10pt;
}

.tamanho {
    padding: 30px 0;
}

button {
    width: 80px;
    height: 40px;
    font-size: 12pt;
    margin-bottom: 25px;
    background-color: #111111;
    color: #a8a8a8;
    border: 1px solid #a8a8a8;
    border-radius: 24px;
    cursor: pointer;
}

.ativo {
    border-color: #c98959;
    color: #c98959;
}

.comprar {
    width: 240px;
    height: 60px;
    font-size: 12pt;
    margin-bottom: 25px;
    background-color: #191a1c;
    color: #c98959;
    border: 2px solid #c98959;
    border-radius: 36px;
}

.inativo {
    background-color: #1e1e1e;
    color: #353535;
    border: 0;
} 


/* FAZER AMANHÃ, ESPERO
- colocar uns 'a' que levam ao site oficial, talvez
- se der tempo, fazer algumas 'animações', como do botão de comprar no 'hover' e 'navbar'
*/