* {
    padding: 0;
    margin: 0;
    font-family: "Oblik-Bold", sans-serif;   /* a fonte é diferente em alguns lugares, sendo sans-serif creio eu */
}

@font-face {                                 /* a fonte da Duracell */
  font-family: Oblik-Bold;
  src: url(fonts/Oblik_Bold.ttf);
}

html {                                       /* pro rolamento ficar lisinho */
    scroll-behavior: smooth;
}

#logo {
    background-color: black;
    text-align: center;
    height: 25px;
    padding: 10px 0;
}

#logo img {
    max-height: 100%;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c98959;
}

#navbar div {
    padding: 10px;
    width: 250px;
    text-align: center;
}

#navbar a { /* Se der tempo, colocar um 'hover' que diminui a opacidade */
    text-decoration: none;
    font-size: 14pt;
    color: white;
}

#inicio img {
    padding: 25px 0;
    width: 100%;
}

#encontre-seu-produto-titulo {
    text-align: center;
    font-size: 30pt;
    padding-bottom: 50px;
}

#encontre-seu-produto {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto auto auto; /* Não sei se é a melhor forma de fazer isso, mas tá funcionando */
}

.produto-imagem-texto {
    background-color: #f4f4f4;
    border-radius: 1%;
    text-align: center;
    width: 180px;
    height: 200px;
    padding: 10px;
    padding-top: 30px;
    margin: 10px;

    /* PRA FAZER:
    - Padronizar o tamanho das imagens e alinhar elas melhor;
    - Talvez deixar mais próximo do meio;
    - Depois que isso tiver bonitinho, partir pra produtos recomendados.
    */
}

.produto-texto {
    font-size: 14pt;
}

.produto-imagem img {
    width: 100px;
    height: 110px;
    padding: 20px;
}

#pilha-aud {
    width: 170px;
    height: 185px;
    padding: 0;
    margin-bottom: 10px;
}

#pilha-moeda {
    width: 170px;
    height: 185px;
    padding: 0;
    margin-bottom: 10px;
}